body {
  margin: 0;
  padding: 0;
  background-color: #f1c40f;
}

body h1,
body h2,
body h3,
body h4,
body p {
  font-family: 'montserrat';
  color: white;
}

body h1 {
  font-size: 70px;
}

body h2 {
  font-size: 50px;
}

body h3 {
  font-size: 40px;
}

body h4 {
  font-size: 35px;
}

body .wrapper {
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.parallax-viewport {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 500px;
}

.parallax-layer {
  position: absolute;
}

#parallax-viewport {
  margin: 0 auto;
  background-color: white;
  width: 700px;
  height: 500px;
  position: relative;
}

#parallax-viewport .parallax-layer {
  width: 901px;
  height: 114;
  position: absolute;
  left: 0;
}

#parallax-viewport .parallax-layer#one {
  top: 78%;
  left: -15%;
  -webkit-animation: motionInOceanOne 5s infinite alternate;
  animation: motionInOceanOne 5s infinite alternate;
}

#parallax-viewport .parallax-layer#two {
  left: -25%;
  top: 73%;
  -webkit-animation: motionInOceanTwo 7s infinite alternate;
  animation: motionInOceanTwo 7s infinite alternate;
}

#parallax-viewport .parallax-layer#three {
  left: -20%;
  top: 69%;
  -webkit-animation: motionInOceanThree 11s infinite alternate;
  animation: motionInOceanThree 11s infinite alternate;
}

#parallax-viewport .parallax-layer#four {
  top: 65%;
  left: -5%;
  -webkit-animation: motionInOceanFour 22s infinite alternate;
  animation: motionInOceanFour 22s infinite alternate;
}

#parallax-viewport .mask {
  position: absolute;
  background-color: #f1c40f;
  width: 500px;
  height: 555px;
}

#parallax-viewport .mask.Left {
  left: -71%;
}

#parallax-viewport .mask.Right {
  right: -71%;
}

@-webkit-keyframes motionInOceanOne {
  0% {
    left: -25%;
  }

  100% {
    left: -1%;
  }
}

@keyframes motionInOceanOne {
  0% {
    left: -25%;
  }

  100% {
    left: -1%;
  }
}

@-webkit-keyframes motionInOceanTwo {
  0% {
    left: -33%;
  }

  100% {
    left: -1%;
  }
}

@keyframes motionInOceanTwo {
  0% {
    left: -33%;
  }

  100% {
    left: -1%;
  }
}

@-webkit-keyframes motionInOceanThree {
  0% {
    left: -20%;
  }

  100% {
    left: -1%;
  }
}

@keyframes motionInOceanThree {
  0% {
    left: -20%;
  }

  100% {
    left: -1%;
  }
}

@-webkit-keyframes motionInOceanFour {
  0% {
    left: -44%;
  }

  100% {
    left: -1%;
  }
}

@keyframes motionInOceanFour {
  0% {
    left: -44%;
  }

  100% {
    left: -1%;
  }
}

#container {
  width: 100%;
}

section {
  width: 100%;
  padding: 5% 0;
  text-align: center;
  margin: 0 auto;
}

p.parallaxImg {
  color: white;
  text-align: center;
  font-size: 80px;
  z-index: 9999;
  -webkit-transform: translateZ(5px);
  -ms-transform: translateZ(5px);
  transform: translateZ(5px);
}

p.copyDrew {
  text-align: center;
  margin: 0 auto;
  margin-top: 15%;
  line-height: 1.3em;
  width: 50%;
  vertical-align: baseline;
  letter-spacing: 1em;
  color: #fbb03b;
  font-size: 2.5em;
  text-shadow: 2px 2px 0em white, 4px 4px 0em #5c5c5c;
  -webkit-transform: translateZ(5px);
  -ms-transform: translateZ(5px);
  transform: translateZ(5px);
  font-family: 'montserrat', Arial, sans-serif;
  font-weight: 700;
}

.skrollr svg {
  margin: 0 auto;
}