$bg-Color: #f1c40f;


body {
	margin: 0;
	padding: 0;
	background-color: $bg-Color;

	h1,h2,h3,h4,p {
		font-family: 'montserrat';
		color: white;
	}

	h1 {
		font-size: 70px;
		margin-bottom:750px;

	}

	h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 40px;
	}

	h4 {
		font-size: 35px;
	}

	.wrapper {
		text-align: center;
		width: 900px;
		margin: 0 auto;
	}
}


.titles {
	position: relative;
	width: 100%;
	height: auto;
	.layer {
		position: absolute;
	}
}




#scene {
	margin: 0 auto;
	background-color: blue;
	width: 700px;
	height: 500px;
	position: relative;

	.layer {
		
		position: absolute;
		left: 0;

		&.boat{
			animation: rockingDaBoat 2s infinite alternate;
		}

		&#one{
			// top: 78%;
			// left: -15%;
			animation: motionInOceanOne 5s infinite alternate;
		}

		&#two{
			// left: -25%;
			// top: 73%;
			animation: motionInOceanTwo 7s infinite alternate;
		}

		&#three{
			// left: -20%;
			// top: 69%;
			animation: motionInOceanThree 7s infinite alternate;
		}

		&#four{
			// top: 65%;
			// left: -5%;
			animation: motionInOceanFour 9s infinite alternate;
		}

		&#five{
			// top: 63%;
			// left: -5%;
			animation: motionInOceanFour 11s infinite alternate;
		}
	}

	.mask {
		position: absolute;
		background-color: $bg-Color;
		width: 1500px;
		height: 900px;
		
		top: -5%;

		&.Left{
			left: -214%;

		}
		&.Right{
			right: -214%;
		}
	}
}

@keyframes rockingDaBoat {
	0% {
		transform: roate(15deg);
		left: -5%;
	}


	100% {
		transform: rotate(-9deg);
		left: 5%;
	}
}


@keyframes motionInOceanOne {
	0% {
	 	left: -45%;
	}

	100% {
		left: -5%;
	}
}

@keyframes motionInOceanTwo {
	0% {
	 	left: -33%;
	}

	100% {
		left: -5%;
	}
}

@keyframes motionInOceanThree {
	0% {
	 	left: -20%;
	}

	100% {
		left: -5%;
	}
}

@keyframes motionInOceanFour {
	0% {
	 	left: -44%;
	}

	100% {
		left: -5%;
	}
}



.headerSpace {
	padding-top:250px;
}

.skrollrSpacing {
	margin: 0;
}



#container {
	width: 100%;
}

section {
	width: 100%;
	padding: 5% 0;
	text-align: center;
	margin: 0 auto;
}


p {

	&.parallaxImg {
		color: white;
		text-align: center;
		font-size: 80px;
		z-index: 9999;	
		transform: translateZ(5px);


	}

	&.copyDrew {
		text-align: center;
		margin: 0 auto;
		margin-top: 15%;
		line-height: 1.3em;
		width: 50%;
		vertical-align: baseline;
		letter-spacing: 1em;
		color: #fbb03b;
		font-size: 2.5em;
		text-shadow: 2px 2px 0em white, 4px 4px 0em #5c5c5c;
		transform: translateZ(5px);
		font-family: 'montserrat', Arial, sans-serif;
		font-weight: 700;
	}
	
}

.skrollr {
	// width: 950px;

	svg {
	margin: 0 auto;
	}
}
